<div class="header" id="header">
    <div class="header-button">
        <i id="openLeftMenu" class="header-btn-open icon-align-justify"></i>
        <div class="header-open-left-menu">
            <i id="openLeftMenuMobile" class="open-left-menu-mobile icon-align-justify"></i>
        </div>
        <div class="header-logo">
            <i id="bikeLogoMobile" class='header-logo-mobile-bike'>
                <img src="assets/bike.png">
            </i>
        </div>
        <div class="header-extra-menu">
            <i id="extraHeaderMobile">
                <!--class='extra-header-mobile'-->
                <img src="assets/dots.png">
            </i>
        </div>
    </div>
    <div class="header-general">
        <!--general-->
        <div id="menu" class="header-menu">
            <div class="nav-item-1"><a routerLink="/">Home</a></div>
            <div class="nav-item-2"><a class="show-items">...</a><a href="#" class="about" routerLinkActive="active">About</a></div>
            <!--addItem-->
            <div class="nav-item-3"><a href="#" class="service">Service</a></div>
            <div class="nav-item-4"><a class="adding-item" routerLink="/add-bike">Adding Items</a></div>
        </div>
        <div class="modal-menu-tablet">
            <div class="nav-item-2"><a href="#" >About</a></div>
            <div class="nav-item-3"><a href="#" >Service</a></div>
            <div class="nav-item-4"><a routerLink="/add-bike">Adding Items</a></div>
        </div>
    </div>
    <div class="signup-button">
        <span class="signup-title">Register/Login</span>
        <i class="signup-icon icon-user icon-2x"></i>
    </div>
</div>
