<div class="header" id="header">
    <div class="header-button">
        <div id="openLeftMenu" (click)="toggleSlider()" class="header-btn-open">
            <i class="icon-align-justify"></i>
        </div>
        <div class="header-open-left-menu">
            <i id="openLeftMenuMobile" (click)="toggleSlider()" class="open-left-menu-mobile icon-align-justify"></i>
        </div>
        <div class="header-logo">
            <i id="bikeLogoMobile" class='header-logo-mobile-bike'>
                <img src="assets/bike.png">
            </i>
        </div>
        <div class="header-extra-menu">
            <i id="extraHeaderMobile">
                <img src="assets/dots.png">
            </i>
        </div>
    </div>
    <div class="header-general">
        <!--general-->
        <div id="menu" class="header-menu">
            <div class="nav-item-1">
                <a [routerLink]="['/']" routerLinkActive="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a>
            </div>
            <div class="nav-item-2">
                <a class="show-items">...</a>
                <a class="about" [routerLink]="['/about']"  routerLinkActive="active">About</a>
            </div>
            <div class="nav-item-3">
                <a class="contact" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
            </div>
            <div class="nav-item-4">
                <a class="adding-item" [routerLink]="['/add-bike']" routerLinkActive="active">Adding Items</a>
            </div>
        </div>
        <div class="modal-menu-tablet">
            <div class="nav-item-2">
                <a [routerLink]="['/about']">About</a>
            </div>
            <div class="nav-item-3">
                <a [routerLink]="['/contact']">Contact</a>
            </div>
            <div class="nav-item-4">
                <a [routerLink]="['/add-bike']" >Adding Items</a>
            </div>
        </div>
    </div>
    <div class="signup-button" (click)="popupLogin()">
        <span class="signup-title">Register/Login</span>
        <i class="signup-icon icon-user icon-2x"></i>
    </div>
</div>
