[class^="nav-item-"] {
    padding-left: 15px;
    cursor: pointer;
    a {
        text-decoration: none;
        color: #000;

        &:hover {
            color: orange;
        }

        &:active {
            color: #000;
        }

        &:link {
            color: #000;
        }
    }
}
.header-general {
    .header-menu {
        [class^="nav-item-"] {
            a {
                &.active {
                    padding: 5px;
                    border: 2px solid rgb(175, 8, 8);
                    border-radius: 5px;
                }
            }
        }
    }
}
