<p>login works!</p>
a<!--  ******** /////////////// modal login **************//////////////////////////-->
<div class="popup-login">
    <div class="popup-header">
        <i id="close-login-popup" class="icon-check-minus"></i><!--closePopup-->
        <h3 class="login-title">
            <!--card-->
            <span>Login</span>
        </h3>
    </div>
    <!-- /.login-header -->
    <!-- form start -->
    <form id="login-form">
        <!--quickForm-->
        <div class="login-form-body">
            <!--form-body-->
            <div class="email-form-group">
                <!--form-group-->
                <label for="InputEmaill">Email address</label>
                <input type="email" name="email" class="form-control" id="InputEmaill" placeholder="Enter email">
            </div>
            <div class="password-form-group">
                <label for="InputPassword">Password</label>
                <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Password">
            </div>
            <div class="form-group mb-0">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="terms" class="custom-control-input" id="Check">
                    <label class="custom-control-label" for="Check">I agree to the <a href="#">terms of
                            service</a>.</label>
                </div>
            </div>
        </div>
        <!-- /.login-footer -->
        <div class="login-form-footer">
            <!--card-footer-->
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<!--  ******** /////////////// modal login **************//////////////////////////-->