<aside id="slider" class="main-slider slider-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="slider-brand-logo">
        <a href="#" class="slider-brand-link">
            <img id="brandLogo1" src="assets/Logo.png" alt="RentBike" class="brand-image img-circle">
            <p class="bike-rent slider-text text-topic">
                Bike Rent
                <sub>
                    Manager
                </sub>
            </p>
        </a>
    </div>

    <!-- sliderSearch Form -->
    <div class="form-inline">
        <div class="input-group" data-widget="slider-search">
            <input class="slider-search-box" type="search" placeholder="Search" aria-label="Search">

            <!-- menu in slider -->
            <div *ngFor="let item of data; let i = index">
                <span> </span>
                <button class="accordion" (click)="toggleAccordian($event, i)">
                    <i [class]=class[i] class="img-circle"></i>
                    {{ item.parentName }}
                </button>
                <div class="panel" *ngFor="let child of item.childProperties" hide="!item.isActive">
                    <div *ngFor="let child of item.childProperties">
                        <p>
                            <i class="icon-circle-blank"></i>
                            <a [routerLink]=[links[i]]> 
                                {{ child.propertyName }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- <ul id="menu1" class="slider-menu">
                <li class="item-" (click)="accordion($event)">
                    <a href="#" class="bike-rent slider-link">
                        <i class="icon-dashboard img-circle"></i>
                        <span class="slider-text text-topic">Dashboard</span>
                    </a>
                </li>
                <ul class="sub-list">
                    <li class="">
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i>
                                <span id="subMenuNew"
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Dashboard
                                    v1
                                </span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span id="subMenuNew"
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Dashboard
                                    v2</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Dashboard
                                    v3</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Dashboard
                                    v4</span></span>
                        </a>
                    </li>
                </ul>
                <li class="item-">
                    <a href="#" class="bike-rent slider-link">
                        <i class="icon-th-large img-circle"></i>
                        <span class="slider-text text-topic">Layout Options</span>
                    </a>
                </li>
                <ul class="sub-list">
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Top
                                    Navigation</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Top
                                    Navigation + slider</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Boxed</span></span>
                        </a>
                    </li>
                </ul>
                <li class="item-">
                    <a href="#" class="bike-rent slider-link">
                        <i class="icon-bar-chart img-circle"></i>
                        <span class="slider-text sub-list-text text-topic">Charts</span>
                    </a>
                </li>
                <ul class="sub-list ">
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text font-size sub-item-color ml-05">ChartJs</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Float</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                </ul>
                <li class="item-">
                    <a href="#" class="bike-rent slider-link">
                        <i class="icon-plus-sign img-circle"></i>
                        <span class="slider-text text-topic">UI Elements</span>
                    </a>
                </li>
                <ul class="sub-list ">
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                </ul>
                <li class="item-">
                    <a href="#" class="bike-rent slider-link">
                        <i class="icon-plus-sign img-circle"></i>
                        <span class="slider-text text-topic">Form</span>
                    </a>
                </li>
                <ul class="sub-list ">
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                </ul>
                <li class="item-">
                    <a href="#" class="bike-rent slider-link">
                        <i class="icon-table img-circle"></i>
                        <span class="slider-text text-topic">Tables</span>
                    </a>
                </li>
                <ul class="sub-list ">
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                </ul>
                <li class="item-">
                    <a href="#" class="bike-rent slider-link">
                        <i class="icon-calendar img-circle"></i>
                        <span class="slider-text text-topic">Calendar</span>
                    </a>
                </li>
                <ul class="sub-list ">
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                </ul>
                <li class="item-">
                    <a href="#" class="bike-rent slider-link">
                        <i class="icon-picture img-circle"></i>
                        <span class="slider-text text-topic">Gallery</span>
                    </a>
                </li>
                <ul class="sub-list ">
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                </ul>
                <li class="item-">
                    <a href="#" class="bike-rent slider-link">
                        <i class="icon-plus-sign img-circle"></i>
                        <span class="slider-text text-topic">Kanban Board</span>
                    </a>
                </li>
                <ul class="sub-list ">
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                </ul>
                <li class="item-">
                    <a href="#" class="bike-rent slider-link">
                        <i class="icon-plus-sign img-circle"></i>
                        <span class="slider-text text-topic">Mailbox</span>
                    </a>
                </li>
                <ul class="sub-list ">
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                </ul>
                <li class="item-">
                    <a href="#" class="bike-rent slider-link">
                        <i class="icon-plus-sign img-circle"></i>
                        <span class="slider-text text-topic">Pages</span>
                    </a>
                </li>
                <ul class="sub-list ">
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                </ul>
                <li class="item-">
                    <a href="#" class="bike-rent slider-link">
                        <i class="icon-folder-close img-circle"></i>
                        <span class="slider-text text-topic">Extras</span>
                    </a>
                </li>
                <ul class="sub-list ">
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text">Inline</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                </ul>
                <li class="item-">
                    <a href="#" class="bike-rent slider-link">
                        <i class="icon-search img-circle"></i>
                        <span class="slider-text text-topic">Search</span>
                    </a>
                </li>
                <ul class="sub-list ">
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                </ul>
                <li class="item-">
                    <a href="#" class="bike-rent slider-link">
                        <i class="icon-file-alt img-circle"></i>
                        <span class="slider-text text-topic">LABELS</span>
                    </a>
                </li>
                <ul class="sub-list ">
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                </ul>
                <li class="item-">
                    <a href="#" class="bike-rent slider-link">
                        <i class="icon-book img-circle"></i>
                        <span class="slider-text text-topic">Documentation</span>
                    </a>
                </li>
                <ul class="sub-list ">
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bike-rent slider-link">
                            <span class="sub-list-icon"><i class="icon-circle-blank"></i><span
                                    class="slider-text sub-list-text font-size sub-item-color ml-05">Inline</span></span>
                        </a>
                    </li>
                </ul>
            </ul> -->
        </div>
    </div>

</aside>