<div id="sidebar-wrapper">
    <div class="">
        <div class="sidebar section" name="Social widget">
            <div class="widget">
                <div id="draggable" class="widget-title">
                    <h3 class="title">
                        Social Plugin
                    </h3>
                    <div class="cart-header-btn">
                        <div class="minimize">
                            <i class="icon-minus"></i>
                            <i class="icon-plus"></i>
                        </div>
                        <div class="close">
                            <img src="assets/close.png" class="close-box" />
                        </div>
                    </div>
                </div>
                <div class="widget-content">
                    <ul class="social-counter social social-color">
                        <li class="facebook">
                            <a href="#" target="_blank" title="facebook">
                                <i class="icon-facebook-sign"></i>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="#" target="_blank" title="twitter">
                                <i class="icon-twitter-sign"></i>
                            </a>
                        </li>
                        <li class="linkedin">
                            <a href="#" target="_blank" title="linkedin">
                                <i class="icon-linkedin-sign"></i>
                            </a>
                        </li>
                        <li class="reddit">
                            <a href="#" target="_blank" title="reddit">
                                <i class="icon-gittip"></i>
                            </a>
                        </li>
                        <li class="pinterest">
                            <a href="#" target="_blank" title="pinterest">
                                <i class="icon-pinterest-sign"></i>
                            </a>
                        </li>
                        <li class="vk">
                            <a href="#" target="_blank" title="vk">
                                <i class="icon-vk"></i>
                            </a>
                        </li>
                        <li class="instagram">
                            <a href="#" target="_blank" title="instagram">
                                <i class="icon-instagram"></i>
                            </a>
                        </li>
                        <li class="youtube">
                            <a href="#" target="_blank" title="youtube">
                                <i class="icon-youtube"></i>
                            </a>
                        </li>
                        <li class="whatsapp">
                            <a href="#" target="_blank" title="whatsapp">
                                <i class="icon-renren"></i>
                            </a>
                        </li>
                        <li class="rss">
                            <a href="#" target="_blank" title="rss">
                                <i class="icon-rss"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sidebar common-widget section" name="Sidebar Right">
            <div class="widget PopularPosts">
                <div id="draggable" class="widget-title">
                    <h3 class="title">
                        Popular Posts
                    </h3>
                    <div class="cart-header-btn">
                        <div class="minimize">
                            <i class="icon-minus"></i>
                            <i class="icon-plus"></i>
                        </div>
                        <div class="close">
                            <img src="assets/close.png" class="close-box" />
                        </div>
                    </div>
                </div>
                <div class="widget-content">

                    <app-post-content
                        title="Easiest Ice Cream You’ll Ever Make. No Ice-cream Maker"
                        picture="assets/bicycle1.jpg" 
                        (alertInChild)="onCilckParent($event)">
                    </app-post-content>

                    <app-post-content
                        title="Senators Introduce Bill to Safely Bring Back Cruising in US"
                        picture="assets/bicycle2.jpg"
                        (alertInChild)="onCilckParent($event)">
                    </app-post-content>

                    <app-post-content
                        title="Senators Introduce Bill to Safely Bring Back Cruising in US"
                        picture="assets/bicycle3.jpg"
                        (alertInChild)="onCilckParent($event)">
                    </app-post-content>

                </div>
            </div>
            <div class="widget">
                <div id="draggable" class="widget-title">
                    <h3 class="title">
                        Direct Chat
                    </h3>
                    <div class="cart-header-btn">
                        <div class="minimize">
                            <i class="icon-minus"></i>
                            <i class="icon-plus"></i>
                        </div>
                        <div class="close">
                            <img src="assets/close.png" class="close-box" />
                        </div>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="widget-content-body">
                        <!-- History of Chat -->
                        <div class="direct-chat-msg">
                            <div class="direct-chat-infos">
                                <span class="direct-chat-name float-left">Albert</span>
                                <span class="direct-chat-times float-right">28 Jan 5:55pm</span>
                            </div>
                            <img class="direct-chat-img" src="assets/user1.jpg" />
                            <div class="direct-chat-text">

                                Is this template really for free? That's unbelievable!

                            </div>
                        </div>
                        <div class="direct-chat-msg right">
                            <div class="direct-chat-infos">
                                <span class="direct-chat-name float-right">Albert</span>
                                <span class="direct-chat-times float-left">28 Jan 5:55pm</span>
                            </div>
                            <img class="direct-chat-img" src="assets/user1.jpg" />
                            <div class="direct-chat-text">

                                You better believe it!

                            </div>
                        </div>
                        <div class="direct-chat-msg">
                            <div class="direct-chat-infos">
                                <span class="direct-chat-name float-left">Albert</span>
                                <span class="direct-chat-times float-right">28 Jan 5:55pm</span>
                            </div>
                            <img class="direct-chat-img" src="assets/user1.jpg" />
                            <div class="direct-chat-text">

                                Is this template really for free? That's unbelievable!

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="draggable" class="widget card-calender">
                <div id="draggable-header" class="widget-title">
                    <h3 class="title">
                        <i class="icon-calendar img-circle"></i> Calendar
                    </h3>
                    <div class="cart-header-btn">
                        <div class="minimize">
                            <i class="icon-minus"></i>
                            <i class="icon-plus"></i>
                        </div>
                        <div class="close">
                            <img src="assets/close.png" class="close-box" />
                        </div>
                    </div>
                </div>
                <div class="widget-content card-calendar-body">
                    <div class="card-calender-header">
                        <div class="previous-month">
                            <span class="icon-chevron-left previous-btn" title="Previous Month"></span>
                        </div>
                        <div class="name-month">
                            November
                        </div>
                        <div class="next-month">
                            <span class="icon-chevron-right" title="Next Month"></span>
                        </div>
                    </div>
                    <img src="assets/Calender.png" alt="calendar" style="display: flex; height: 100%;">
                </div>
            </div>
            <div id="draggable" class="widget Label">
                <div id="draggable-header" class="widget-title">
                    <h3 class="title">
                        Categories
                    </h3>
                    <div class="cart-header-btn">
                        <div class="minimize">
                            <i class="icon-minus"></i>
                            <i class="icon-plus"></i>
                        </div>
                        <div class="close">
                            <img src="assets/close.png" class="close-box" />
                        </div>
                    </div>
                </div>
                <div class="widget-content list-label">
                    <ul class="categorie-content">
                        <li>
                            <a class="label-name" href="">
                                Business
                                <span class="label-count">(3)</span>
                            </a>
                        </li>
                        <li>
                            <a class="label-name" href="">
                                Photography
                                <span class="label-count">(2)</span>
                            </a>
                        </li>
                        <li>
                            <a class="label-name" href="">
                                Technology
                                <span class="label-count">(2)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
